import * as React from 'react';
import { FC } from 'react';

export interface {{componentName}}Props {
};

export const {{componentName}}: FC<{{componentName}}Props> = (props) => {
  return ();
};

{{componentName}}.defaultProps = {};